/* =====MAIN===== */
body {
  margin: 0 auto;
  font-family: 'Open Sans', sans-serif;
}

body section:nth-child(n+3){
  margin: 2rem auto;
}


.container {
  width: 96%;
  max-width: 1020px;
  margin: 0 auto;
  text-align: center;
}

img {
  max-width: 100%;
}

/* =====NAV BAR===== */
nav{
  vertical-align: top;
}

nav > div {
  padding: .5rem 0 0 0;
}

#full-menu{
  display: none;
}

#logo,
#menu{
  display: inline-block;
}

#logo{
  text-align: left;
  width: 79%;
}

#menu {
  width: 19%;
}

#menu i {
  float: right;
}

/* =====CALL-OUT===== */

.call-out {
  text-align: center;
  color: white;
  padding: 1rem 0;
  background-color: black;

}

.top-pic{
  background-image: linear-gradient(rgba(0,0,0,.6), rgba(0,0,0,.6)),
  url('../images/kneating_dough.jpg');
}

.wrapper {
  width: 80%;
  max-width: 700px;
  margin: 0 auto;
  text-align: center;
}

.wrapper h4 {
  text-transform: uppercase;
}

.wrapper h2 {
  font-size: 2rem;
  font-weight: 300;
}

.wrapper p {
  font-size: .8rem;
  line-height: 1.4rem;
}

/* =====CARDS===== */
.card {
  width: 90%;
  margin: 0 auto;
  background: green;
  border-radius: 15px;
  height: 300px;
  overflow: hidden;
}


.content{
  box-sizing: border-box;
  width: 50%;
  height: 300px;
  padding: 1rem;
  display: inline-block;
  text-align: left;
  vertical-align: top;
}

.white {
  background: white;
}

.white .card-teaser{
  color: black;
}

.white .card-text{
  color: #d44300
}

.black {
  background-color: rgba(0, 0, 0, 0.5);
}

.black .card-teaser, 
.white .card-teaser {
  font-size: 1.2rem;
  font-weight: 600;
}
.black .card-teaser,
.black .card-text {
  color: white;
}

.black .card-text{
  font-size: .8rem;
}

/* ====Card background pictures===== */
.call-out,
.card,
.small-pic-01,
.small-pic-02,
.small-pic-03{
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.pic01{
  background-image: url('../images/frambozentaart.jpg');
}

.pic02{
  background-image: url('../images/steaming_thee.png');
}

.pic03{
  background-image: url('../images/heelhollandbakt_02.jpg');
}

.pic04{
  background-image: url('../images/mrjones_thee.jpg');
}

.pic05{
  background-image: url('../images/greens.jpg');
}

.pic06{
  background-image: url('../images/zeeuwsebolus.jpg');
}

.small-pic-01{
  background-image: linear-gradient(rgba(0,0,0,.6), rgba(0,0,0,.6)),
  url('../images/cofee.png') !important;
}

.small-pic-02{
  background-image: linear-gradient(rgba(0,0,0,.6), rgba(0,0,0,.6)),
  url('../images/slowcooking.jpg') !important;
  background-size: cover;
}

.small-pic-03{
  background-image: linear-gradient(rgba(0,0,0,.6), rgba(0,0,0,.6)),
  url('../images/funcooking.jpeg') !important;
}



/* =====Quick links===== */

.quick-links div {
  vertical-align: top;
  display: inline-block;
  width: 31%;
  background: black;
  border-radius: 15px;
  height: 100px;
  color: white;

}

.quick-links p {
  font-weight: 600;
  vertical-align: middle;
  line-height: 65px;
}

.quick-links div:first-child p{
  line-height: 20px;
  padding: 15px 0 0 0; 
}



/* =====Sign-up callout===== */
.sign-up {
  border-radius: 15px;
  background-color: white;
  margin: 2rem 0;
  text-align: left;
}

.sign-up p{
  color: black;
  display: inline-block;
  cursor: pointer;
  padding: 0 10px;
}

input[type=email]{
  border-radius: 12px;
  padding: .1rem;
  line-height: 2.6rem;
  border: 0px;
  width: 60%;
}
input[type=email]:focus{
  outline: none;
}

/* =====FOOTER===== */

footer {
  padding: 2rem 0;
  background: #ececec;
  color: #464646;
  text-align: center;
}


.cursive {
  font-size: 1.3rem !important;
  margin: 2rem 0;
  font-family: Baskerville, 'Baskerville Old Face', 'Hoefler Text', Garamond, 'Times New Roman';
  font-style: italic;
}

.social-box{
  cursor: pointer;
  background: white;
  padding: .5rem 0;
  margin: .5rem auto;
  width: 90%;
  color: white;
  border-radius: 15px;
}

.social-box i,
.social-box p {
  font-size: 1.2rem;
}

.social-box i {
  padding: 0 1rem 0 0;
  
}
.social-box p {
  display: inline-block;
}

.cookandco {
  background: #1e252b;
}

.facebook{
  background: #3b5995;
}

.pinterest{
  background:#b8081d;
}

/* =====DRY===== */

.social-box,
.main-links i,
.social-quick-links i {
  cursor: pointer;
}

.left {
  float: left;
}

.right {
  float: right;
}

/* red recept color */
.second-color,
.content h4{
  color: #d44300 !important
}

/* to uppercase */
.wrapper h4,
.content h4 {
  text-transform: uppercase;
}

/* Shadow */
.card,
.quick-links div {
  box-shadow: 0 2px 5px 0 rgba(0,0,0,0.16),0 2px 10px 0 rgba(0,0,0,0.12);
}



/* =====@Media===== */
@media screen and (min-width: 768px) {

  /* Menu */
  #menu{
    display: none;
  }
  #full-menu{
    display: inline-block;
  }

  #logo{
    text-align: left;
    width: 43%;
  }

  #full-menu {
    text-align: left;
    width: 56%;
  }

  .social-quick-links{
    margin: 8px 0 0 0;
    float: right;
  }

  .main-links i{
    text-align: center;
    margin: 0 6px 0 0;
  }

  .main-links i p {
    margin: 8px 0;
    font-size: .7rem;
  }

  /*Call out */
  .call-out {
    padding: 5rem 0;
  }

  .top-pic .wrapper h2 {
    font-size: 4rem;
    font-weight: 300;
  }

  .wrapper h4 {
    text-transform: none;
  }

  /*Cards */
  .card,
  .content{
    height: 400px;
  }

  .content{
    padding: 5rem 16px 0 16px;
  }

  .card-teaser {
    font-size: 1.9rem;
  }

  .card-text {
    font-size: 1.2rem;
  }

  /* Footer */
  .social-box{
    width: 31%;
    padding: .1rem 0;
    margin: 0 .3rem;
    display: inline-block;
  }

  footer .wrapper{
    width: 83%;
    max-width: 1020px;
  }

  footer .wrapper h2 {
    font-size: 2rem;
  }

  .social-box p {
    font-size: 16px;
  }
}

@media screen and (min-width: 1020px) {
  .quick-links div {
    width: 33%;
  }
}



